body {
  margin: 0;
  padding: 0;
  font-family: "Muli";
}

.bodyContainer {
  background-color: #ffffff;
  border: 8px solid #401c3e;
  border-radius: 50px;
  height: 100%;
  margin: 2%;
}

.boldFont {
  font-weight: 800;
}

.lightFont {
  font-weight: 100;
}

.textMuted {
  color: gray;
}

.colHalf {
  display: inline-block;
}

.colFull {
  display: block;
}

/*==========
     NAVBAR
  ==========*/
#navBar {
  background-color: #401c3e;
  height: 5em;
  width: 15em;
  margin: 0 auto;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.navbarList {
  margin: 0;
  padding: 0;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navItem {
  list-style: none;
}

.navLink {
  color: gray;
  text-decoration: none;
}

.navLink:hover,
.navLink:focus {
  color: white;
}

.active a {
  color: white;
}

/*==================
     LEFT SECTION
  ==================*/
/*-------Welcome Part------*/
.welcomePart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1em;
}

#date {
  display: block;
}

#date h5 {
  margin: 0;
}

/*-------Orange Box Part------*/
#orangeBox {
  background-color: #ffc50a;
  margin: 1em;
  padding-bottom: 1em;
  border: 0;
  border-radius: 1em;
}

.orangeBoxRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1em;
}

#priWhite {
  background-color: white;
  margin: 0 1em;
  padding: 2em;
  border: 0;
  border-radius: 1em;
}

#orangeBox h4 {
  font-weight: 400;
}

#priWhite h3 {
  color: #ff5b01;
  font-size: 2rem;
}

#princhos {
  font-weight: 500;
  font-size: 0.8rem;
  color: gray;
}

.leftSide img {
  display: none;
}

.bigTapas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*==================
     RIGHT SECTION
  ==================*/
#rightSide {
  background-color: #fff9f0;
  padding-bottom: 1em;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/*-------Pinchos Part------*/
.titleAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pinchosCard {
  background-color: white;
  border: 0;
  border-radius: 2em;
  margin: 1em;
  padding: 1em;
}

.pinchosCardDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pinchosCardDown a {
  color: #ff5b01;
  font-size: 2rem;
  text-decoration: none;
}

.pinchosCardDown h4 {
  width: 1.8em;
}

.pinchosCard h6 {
  margin-top: -2em;
}

/*-------Sales Statistics Part------*/
.salesCardDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.salesCardDown a {
  color: white;
}

/*-------Purple Card------*/
#purpleCard {
  background: #401c3e;
  color: white;
  padding: 2em;
}

/*-------Turquaz Card------*/
#turquazCard {
  background: #8dc1b9;
  color: white;
}

/*-------Orange Dotted Card------*/
#orangeDottedCard {
  background: white;
  color: #ffc50a;
  border: 5px dotted #ffc50a;
  text-align: center;
  padding: 5em 0;
}

/*-------Orange Card------*/
#orangeCard {
  background: #ff5b01;
  color: white;
}

#orangeCard a {
  color: #ff5b01;
  text-decoration: none;
}

@media (orientation: landscape), (min-width: 600px) {
  /*-------Main------*/
  .welcomePart {
    text-align: start;
    margin-left: 1em;
    display: block;
  }
  /*-------Orange Box Part------*/
  #orangeBox {
    width: 100%;
    padding-bottom: 1.5em;
  }
  #priWhite {
    text-align: center;
  }
  .leftSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leftSide img {
    display: inline-block;
    height: 16em;
  }
  /*-------Pinchos Part------*/
  .pinchosCard {
    padding: 2em;
    margin: 0.3em;
  }
  .pinchosCardDown a {
    font-size: 1.2rem;
  }
  .landscapeAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #orangeDottedCard {
    padding: 4em;
  }
  #orangeDottedCard h2,
  #orangeDottedCard h4 {
    margin: 0;
  }
  .orangeCardText {
    margin-top: 3em;
  }
  .titleAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 1em;
    font-size: 2em;
  }
  #salesCards {
    margin: 0 5em;
  }
  #turquazCard h2 {
    margin-left: 1em;
    width: 3em;
  }
}

@media (min-width: 1021px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #navContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #navSpacer {
    width: 31%;
  }
  header {
    background: #fff9f0;
    width: 69%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  /*==================
     LEFT SECTION
  ==================*/
  .leftSide {
    display: block;
    margin: 0 2em;
  }
  #orangeBox {
    padding-bottom: 0.1em;
    margin: 0;
  }
  #priWhite {
    margin: 1em;
  }
  .bigTapas img {
    height: 100%;
    margin-top: 2em;
  }
  .orangeCardText {
    margin-top: 5em;
  }
  /*==================
     RIGHT SECTION
  ==================*/
  #rightSide {
    padding: 0;
    width: 70%;
  }
  #pinchosCardsDiv img {
    width: 100%;
  }
  .pinchosCard-lg {
    margin: 0 1em;
  }
  .pinchosCard-lg a {
    font-size: 1em;
  }
  #salesCards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0.5em;
  }
  .landscapeAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #orangeCard {
    padding: 1em;
  }
  #orangeCard img {
    width: 100%;
  }
  .orangeDown {
    height: 57%;
  }
  .largerAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .leftSide {
    display: block;
  }
  #rightSide {
    padding: 0;
    width: 70%;
  }
  header {
    background: #fff9f0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  #salesCards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #orangeBox {
    height: 15em;
  }
  .largerAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pinchosCard-lg {
    width: 18em;
  }
  #orangeCard {
    padding: 1em;
  }
}
/*# sourceMappingURL=style.css.map */