body {
  margin: 0;
  padding: 0;
  font-family: "Muli";
}

.bodyContainer {
  background-color: #ffffff;
  border: 8px solid #401c3e;
  border-radius: 50px;
  height: 100%;
  margin: 2%;
}

.boldFont {
  font-weight: 800;
}

.textMuted {
  color: gray;
}

.colHalf {
  display: inline-block;
}

.colFull {
  display: block;
}

/*==========
     NAVBAR
  ==========*/

#navBar {
  background-color: #401c3e;
  height: 5em;
  width: 15em;
  margin: 0 auto;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.navbarList {
  margin: 0;
  padding: 0;
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navItem {
  list-style: none;
}

.navLink {
  color: gray;
  text-decoration: none;
}

.navLink:hover,
.navLink:focus {
  color: white;
}

.active a {
  color: white;
}

/*==================
     LEFT SECTION
  ==================*/

/*-------Welcome Part------*/

.welcomePart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

/*-------Orange Box Part------*/

#orangeBox {
  background-color: #ffc50a;
  margin: 1em;
  padding-bottom: 1em;
  border: 0;
  border-radius: 1em;
}

.orangeBoxRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

#priWhite {
  background-color: white;
  margin: 0 1em;
  padding: 2em;
  border: 0;
  border-radius: 1em;
}

#orangeBox h4 {
  font-weight: 400;
}

#priWhite h3 {
  color: #ffc50a;
  font-size: 2rem;
}

#princhos {
  font-weight: 500;
  font-size: 0.8rem;
  color: gray;
}

.leftSide img {
  display: none;
}

.bigTapas {
  display: flex;
  justify-content: center;
}

/*==================
     RIGHT SECTION
  ==================*/

#rightSide {
  background-color: #fff9f0;
}

/*-------Pinchos Part------*/

.titleAlign {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pinchosCard {
  background-color: white;
  border: 0;
  border-radius: 2em;
  margin: 1em;
  padding: 1em;
}
.pinchosCardDown {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.pinchosCardDown a {
  color: #ffc50a;
  font-size: 2rem;
  text-decoration: none;
}
.pinchosCard h6 {
  margin-top: -2em;
}
/*-------Sales Statistics Part------*/
#purpleCard {
  background-color: #401c3e;
  color: white;
}

@media (orientation: landscape) {
  /*-------Main------*/
  .welcomePart {
    text-align: start;
    margin-left: 1em;
  }
  /*-------Orange Box Part------*/
  #orangeBox {
    height: 100%;
  }

  #priWhite {
    text-align: center;
  }
  .leftSide {
    display: flex;
    justify-content: space-around;
  }

  .leftSide img {
    display: inline-block;
    height: 16em;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
